.sidebar {
    width: 60px;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    color: rgba(255, 255, 255, 0.7);
    flex-shrink: 0;
    z-index: 50;

    .logo {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex: 1;
        overflow-y: auto;
        /* Allow scroll if height is small */

        @media (max-height: 700px) {
            gap: 1rem;
        }
    }

    .navItem {
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            color: white;
        }

        &.active {
            color: white;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -18px;
                top: 50%;
                transform: translateY(-50%);
                height: 30px;
                width: 4px;
                background-color: white;
                border-radius: 0 4px 4px 0;
            }
        }
    }

    .footer {
        cursor: pointer;
        padding-bottom: 1rem;

        &:hover {
            color: white;
        }
    }
}